In [1]:
# importing packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv("drug_review_dataset_with_sentiment.csv")
df.head()

,Unnamed: 0,drugName,condition,review,rating,date,usefulCount,drug_class,sentiment,sentiment_label
0,206461,Valsartan,Left Ventricular Dysfunction,"""It has no side effect, I take it in combinati...",9.0,"May 20, 2012",27,arb blocker,0.000000,neutral
1,95260,Guanfacine,ADHD,"""My son is halfway through his fourth week of ...",8.0,"April 27, 2010",192,NaN,0.168333,positive
2,92703,Lybrel,Birth Control,"""I used to take another oral contraceptive, wh...",5.0,"December 14, 2009",17,NaN,0.067210,positive
3,138000,Ortho Evra,Birth Control,"""This is my first time using any form of birth...",8.0,"November 3, 2015",10,NaN,0.179545,positive
4,35696,Buprenorphine / naloxone,Opiate Dependence,"""Suboxone has completely turned my life around...",9.0,"November 27, 2016",37,NaN,0.194444,positive

In [3]:
# Q1.What is the popular drug?
df1=df.groupby('drugName')['rating'].sum()
df1.sort_values(ascending=False)

# Answer: Levonorgestrel is the popular drug

drugName
Levonorgestrel                       27029.0
Etonogestrel                         19357.0
Ethinyl estradiol / norethindrone    15937.0
Phentermine                          13557.0
Ethinyl estradiol / norgestimate     12399.0
                                      ...
Dong quai                                1.0
Intron A                                 1.0
Phenohytro                               1.0
MVI Adult                                1.0
TheraTears Nutrition                     1.0
Name: rating, Length: 3436, dtype: float64

In [4]:
# Q2. what are the groups/classification of drugs used
df['drug_class'].count()

# 23461 groups/classification of drugs used

23460

In [5]:
# Q3. Which drug has the best review? usefulCount
df2=df.groupby('drugName')['usefulCount'].sum()
df2.sort_values(ascending=False)
# ans: Sertraline has the best review?

drugName
Sertraline                         58154
Gabapentin                         56249
Escitalopram                       52280
Bupropion                          50542
Lexapro                            48328
                                   ...
Noroxin                                0
Norlyda                                0
Betadine Aerosol Spray                 0
Gildess 1.5 / 30                       0
Piperonyl butoxide / pyrethrins        0
Name: usefulCount, Length: 3436, dtype: int64

In [6]:
# Q4. How many drugs do we have?
df['drugName'].nunique()
# Answer: 3436 drugs we have

3436

In [7]:
# Q5:Number of drugs per condition
df.groupby('condition')['drugName'].nunique().sort_values(ascending=False)

condition
Not Listed / Othe                              214
Pain                                           200
Birth Control                                  172
High Blood Pressure                            140
Acne                                           117
                                              ...
Sepsis                                           1
72</span> users found this comment helpful.      1
Microscopic polyangiitis                         1
Short Stature                                    1
Epicondylitis, Tennis Elbow                      1
Name: drugName, Length: 884, dtype: int64

In [8]:
# Q6:Number of patients that searched on a particular drug
df3=df.groupby('drugName')['review'].nunique()
df3.sort_values(ascending=False)

drugName
Levonorgestrel                       3656
Etonogestrel                         3336
Ethinyl estradiol / norethindrone    2849
Nexplanon                            2156
Ethinyl estradiol / norgestimate     2115
                                     ...
Fludarabine                             1
Fludara                                 1
FluMist Quadrivalent                    1
Floxin                                  1
A + D Cracked Skin Relief               1
Name: review, Length: 3436, dtype: int64

In [9]:
# Q7: Distribution of rating per date/year
df['date']=pd.to_datetime(df['date'])
df.groupby('date').sum('rating').sort_values('date')

            Unnamed: 0  rating  usefulCount  sentiment
date
2008-02-24      495189    30.0          174   1.295833
2008-02-25     2533714   152.0         1538   2.311907
2008-02-26     2630521   215.0         2469  -1.106542
2008-02-27     2796746   152.0         2544   2.248145
2008-02-28     1190976    69.0          612   0.720119
...                ...     ...          ...        ...
2017-12-07      447514    13.0            2  -0.294152
2017-12-09     5587785   296.0            7   2.257465
2017-12-10     6188981   321.0            5   2.260762
2017-12-11     8831724   422.0           12   1.028748
2017-12-12     1138491    65.0            0   0.651557

[3579 rows x 4 columns]

In [10]:
# Q7: Distribution of rating per date/year
#making year column
df['year']=df['date'].dt.to_period('Y')
df4=df[['year','rating']]
df4.groupby('year').sum('rating')

        rating
year
2008   45966.0
2009   86543.0
2010   62395.0
2011   87424.0
2012   75524.0
2013   99108.0
2014   96419.0
2015  188240.0
2016  216377.0
2017  170176.0

In [14]:
# Q8: Distribution of review per year
df.groupby(['year'])['review'].count()

year
2008     5137
2009    11636
2010     8413
2011    11682
2012    10007
2013    12278
2014    12051
2015    27164
2016    34842
2017    28087
Freq: Y-DEC, Name: review, dtype: int64

In [15]:
# Q9: Amount of review per year
df.groupby(['year'])['review'].count()

year
2008     5137
2009    11636
2010     8413
2011    11682
2012    10007
2013    12278
2014    12051
2015    27164
2016    34842
2017    28087
Freq: Y-DEC, Name: review, dtype: int64